.bg-gradient-primary{
    background-color: #4e73df;
    background-image: linear-gradient(45deg, #4e73df 50%, #224abe 400%);
    background-size: cover;
    background-repeat: no-repeat !important;
}
.bg-register-image {
    background: url('/img/lee.png');    
    background-position: center;
    background-size: cover;
}
.bg-password-image{
    background: url('/img/new.png');    
    background-position: center;
    background-size: cover;
}
.bg-login-image{
    background: url('/img/new.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0b1f3a; /* 남는 여백 색 */
}
.bg-login-image{
    background: url('/img/new.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0b1f3a; /* 남는 여백 색 */
}